
#Set security level of rancher (does it have a Signed TLS or not).
rancherSecurity = "false"

#REQUIRED
#Set Rancher Cluster Name
rancherClusterName = "<CLUSTER_NAME>"

#Set K8s Version, Default = v1.21.4+k3s1 (Both RKE2 and K3s are supported).
#kubeVersion = ""

#Set Node Quantity for the cluster, Default = 1
#nodeQTY = 

#REQUIRED
#Set AWS Region, Default "eu-west-1"
awsRegion = "<AWS_Region>"

#Set AWS Availibility Zone, Default = c.
#awsAvailibilityZone = ""

#Set AWS AMI to use for nodes, Default =ami-00c90dbdc12232b58 (Ubuntu)
#awsAMI = ""

#REQUIRED
#Set AWS VPC
awsVPC = "<AWS_VPC>"

#REQUIRED
#Set AWS Subnet on VPC
awsSubnet = "<AWS_SUBNET>"

#OPTIONAL CONFIGURATION
#Install Monitoring? Default = false
# monitoring = 